{{include file="public/header" /}}

<!-- header top nav -->
{{include file="public/header_top_nav" /}}

<!-- search -->
{{include file="public/nav_search" /}}

<!-- header nav -->
{{include file="public/header_nav" /}}

<!-- goods category -->
{{include file="public/goods_category" /}}

<!-- 搜索页面顶部钩子 -->
{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
    <div class="plugins-tag">
        <span>plugins_view_search_top</span>
    </div>
{{/if}}
{{if !empty($plugins_view_search_top_data) and is_array($plugins_view_search_top_data)}}
    {{foreach $plugins_view_search_top_data as $hook}}
        {{if is_string($hook) or is_int($hook)}}
            {{$hook|raw}}
        {{/if}}
    {{/foreach}}
{{/if}}



<!-- content -->
<div class="am-container">
    <!-- 搜索页面顶部内部结构里面钩子 -->
    {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
        <div class="plugins-tag">
            <span>plugins_view_search_inside_top</span>
        </div>
    {{/if}}
    {{if !empty($plugins_view_search_inside_top_data) and is_array($plugins_view_search_inside_top_data)}}
        {{foreach $plugins_view_search_inside_top_data as $hook}}
            {{if is_string($hook) or is_int($hook)}}
                {{$hook|raw}}
            {{/if}}
        {{/foreach}}
    {{/if}}

    <div class="search-container am-u-sm-12 am-u-md-12 am-padding-left-0 am-padding-right-0" data-category-id="1">
        <div class="theme-popover">
            <ul class="select am-cf">


ccc
                <!-- 搜索页面筛选条件内尾部钩子 -->
                {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                    <div class="plugins-tag">
                        <span>plugins_view_search_screen_inside_end</span>
                    </div>
                {{/if}}
                {{if !empty($plugins_view_search_screen_inside_end_data) and is_array($plugins_view_search_screen_inside_end_data)}}
                    {{foreach $plugins_view_search_screen_inside_end_data as $hook}}
                        {{if is_string($hook) or is_int($hook)}}
                            {{$hook|raw}}
                        {{/if}}
                    {{/foreach}}
                {{/if}}
            </ul>
        </div>

        <!-- 搜索页面搜索导航条顶部钩子 -->
        {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
            <div class="plugins-tag">
                <span>plugins_view_search_nav_top</span>
            </div>
        {{/if}}
        {{if !empty($plugins_view_search_nav_top_data) and is_array($plugins_view_search_nav_top_data)}}
            {{foreach $plugins_view_search_nav_top_data as $hook}}
                {{if is_string($hook) or is_int($hook)}}
                    {{$hook|raw}}
                {{/if}}
            {{/foreach}}
        {{/if}}



        <!-- 搜索页面数据容器顶部钩子 -->
        {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
            <div class="plugins-tag">
                <span>plugins_view_search_data_top</span>
            </div>
        {{/if}}
        {{if !empty($plugins_view_search_data_top_data) and is_array($plugins_view_search_data_top_data)}}
            {{foreach $plugins_view_search_data_top_data as $hook}}
                {{if is_string($hook) or is_int($hook)}}
                    {{$hook|raw}}
                {{/if}}
            {{/foreach}}
        {{/if}}

        <!-- 数据容器 -->
        <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-5 search-list"></ul>

        <!-- 搜索页面数据容器底部钩子 -->
        {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
            <div class="plugins-tag">
                <span>plugins_view_search_data_bottom</span>
            </div>
        {{/if}}
        {{if !empty($plugins_view_search_data_bottom_data) and is_array($plugins_view_search_data_bottom_data)}}
            {{foreach $plugins_view_search_data_bottom_data as $hook}}
                {{if is_string($hook) or is_int($hook)}}
                    {{$hook|raw}}
                {{/if}}
            {{/foreach}}
        {{/if}}

        <!-- 加载数据 -->
        <div class="loding-view">
            <i class="am-icon-spinner am-icon-pulse"></i>
            <span>加载中...</span>
        </div>

        <!-- 没有数据 -->
        <div class="table-no" style="display:none;"><i class="am-icon-warning"></i> 没有相关数据</div>

        <!-- 分页 -->
        <button type="button" class="am-btn am-btn-default am-btn-block search-pages-submit" data-url="{{:MyUrl('index/search/goodslist')}}" style="display:none;">加载更多 <i class="am-icon-angle-double-down"></i></button>
    </div>

    <!-- 搜索页面顶部内部结构里面钩子 -->
    {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
        <div class="plugins-tag">
            <span>plugins_view_search_inside_bottom</span>
        </div>
    {{/if}}
    {{if !empty($plugins_view_search_inside_bottom_data) and is_array($plugins_view_search_inside_bottom_data)}}
        {{foreach $plugins_view_search_inside_bottom_data as $hook}}
            {{if is_string($hook) or is_int($hook)}}
                {{$hook|raw}}
            {{/if}}
        {{/foreach}}
    {{/if}}
</div>

<!-- 搜索页面底部钩子 -->
{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
    <div class="plugins-tag">
        <span>plugins_view_search_bottom</span>
    </div>
{{/if}}
{{if !empty($plugins_view_search_bottom_data) and is_array($plugins_view_search_bottom_data)}}
    {{foreach $plugins_view_search_bottom_data as $hook}}
        {{if is_string($hook) or is_int($hook)}}
            {{$hook|raw}}
        {{/if}}
    {{/foreach}}
{{/if}}

<!-- 罩层 -->
<div class="theme-popover-mask" style="display:none;"></div>


{{include file="public/footer" /}}

<script>
    var page = 1;
    function getcomplaintsList(page,key_word) {
        var url = "{{:url('complaintsList')}}";
        $.post(url,{page:page,key_word:key_word},function (res) {
             console.log(res)
        })

    }
    getcomplaintsList(1,'');
</script>
